@import "site.css";

:root
{
  --card-border: var(--text);
}

.card
{
  margin: 1.5rem 2rem;
  border: 2px solid var(--card-border);
  border-radius: 8px;
  background: var(--dark-background);
  transition: background 0.4s;
}

.card:hover
{
  background: var(--medium-background);

.card > h2, p
{
  margin: 1rem;
}

.card > p
{
  margin-left: 3rem;
}

