/* See text-style.css for background and general formatting */
/* || Followers */
@import "site.css";

#xbar, #ybar
{ /* This sectino controls the cursor followers */
  position: fixed;
  background-color: var(--accent);
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  z-index: 5;
}

/* || Main Page Container */
.page-container
{ /* This contains everything except for the header, by default is just normal layout.
  The top margin controls how the contents are spaced from the bottom of the header. */
height: 100%;
margin: 0;
}

.name
{ /* This contains the left side of the main page */
  flex: 1;
  margin: 0;
}

.name > p, h1, h2, h3, h4
{
  font-family: "Open Sans", Arial;
  margin: 0 0 0 2rem;
}

.name > h1
{
  font-size: 1.8rem;
}




/* || Menu */

.menu-container
{ /* This describes the directory list which is later put on the right for wide pages */
  flex: 1;
  text-align: right;
  width: 100%;
}

.menu-container ul
{
  margin: 0 2rem 0 auto;
  padding: 0;
  display: flex;
  align-items: end;
  flex-direction: column;
  width: fit-content;
}

.menu-container ul li
{ /* Change the top and bottom margin to adjust the space between the main page options */
  list-style: none;
  margin: 1rem 0 1rem 0;
}

.menu-container ul li a
{ /* The padding controls the buffer zone on the :hover, 0.5rem seems reasonable */
  padding: 0.5rem;
  text-decoration: none;
  font-size: 3rem;
  color: var(--text);
  transition: font-size 0.5s;
}

/* || Background Images */

.menu-container ul li a::before
{ /* This creates all the formatting for placing the images in the background */
  content: '';
  position: fixed;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -3;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.75s;
}

@media (min-width: 600px) {
  .menu-container ul li a:hover
  { /* Adjusted font-size on hover */
    font-size: 4rem;
  }
}

/* Each pair selects the image for the menu item, and controls the new opacity on hover. */
li:nth-of-type(1) a::before
{
  background: url("../images/home.jpg") no-repeat center center !important;
}

li:nth-of-type(1) a:hover::before
{
  opacity: 1;
}

li:nth-of-type(2) a::before
{
  background: url("../images/projects.jpg") no-repeat center center;
}

li:nth-of-type(2) a:hover::before
{
  opacity: 1
}

li:nth-of-type(3) a::before
{
  background: url("../images/photography.jpg") no-repeat center center;
}

li:nth-of-type(3) a:hover::before
{
  opacity: 1
}

li:nth-of-type(4) a::before
{
  background: url("../images/cycling.jpg") no-repeat center center;
}

li:nth-of-type(4) a:hover::before
{
  opacity: 1
}

li:nth-of-type(5) a::before
{
  background: url("../images/linkedin.jpg") no-repeat center center;
}

li:nth-of-type(5) a:hover::before
{
  opacity: 1
}


@media (min-width: 950px)
{
  .page-container
  {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .name 
  { /* left margin should be the same as the monogram */
    margin-top: 6rem;
    grid-column: 1;
  }

  .menu-container
  {
    grid-column: 2;
  }

}
