
body > img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  max-width: calc(100% - 16px);
  max-height: 85vh;
  height: auto;
  width: auto;
  border: var(--medium-background) solid 8px;
}

body
{
  text-align: center;
}

body > h3
{
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}
