/* The page adjusts to mobile at a width of less than 600px */

/* The page width is currently set to 800, was previously 700, 900 seems a bit wide */
:root
{
  --light-background: #F3FCF8;
  /*--medium-background: #264653;*/
  /*--medium-background: #2a5639; */
  --medium-background: #103a5a;
  --medium-background-fade: rgba(16, 57, 98, 0.8);
  --dark-background: #1c1d1c;
  /* --dark-background: #1a3a1e; */
  --code-background: rgba(68, 64, 64, 0.8);
  --accent: #fc5130;
  --accent: #01BAEF;
  --accent: #FC4603;
  --text: #ecffff;
  --mobile-width: 900px;
  --text-size: 15px;
  --background-opacity: 0.8;
  --split: 30%;

  --link-fresh: var(--accent);
  --link-visited: #DD2803;
  --link-hover: #FD9A86;
}

/* Default colour scheme

  --light-background: #F3FCF8;
  --medium-background: #264653;
  --medium-background: rgb(38,70,83);
  --medium-background-fade: rgb(38,70,83,0.8);
  --dark-background: #303036;
  --accent: #fc5130;
  --text: #FF3006;
  --mobile-width: 900px;
  --text-size: 16px;

  --link-fresh: #FD795E;
  --link-visited: #DD2803;
  --link-hover: #FD9A86;

*/

html
{
  font-size: 5vw;
}

@media (min-width: 350px)
{
  html
  {
    font-size: var(--text-size);
  }
}

body
{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial;
  color: var(--text);
}


/* || Static Background and Monogram */

.background
{
  position: fixed;
  /*width: 100%; */
  width: 100vw;
  height: 100vh;
  background: var(--dark-background);
  z-index: -5;
}

.diagonal-overlay
{
  position: fixed;
  /*width: 100%; */
  width: 100vw;
  height: 100vh;
  /*background: linear-gradient(90deg, var(--medium-background) 0% 40.5%, var(--accent) 40.5% 41%, transparent 41% 100%);*/
  background: linear-gradient(90deg, var(--medium-background) 0% var(--split), transparent var(--split) 100%);
  z-index: -2;
  background-attachment: scroll;
  opacity: var(--background-opacity);
}

header
{ /* This contains the monogram, min-height controls how close the rest of the content gets to it. */
  margin: 0 auto;
  padding: 0;
  min-height: 9rem;
  max-width: 800px;
  font-weight: 700;
}

header ul
{
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  text-align: right;
  list-style-type: none;
}

header ul li
{
  display: inline;
  padding: 0;
  margin: 0;
}

header ul a
{
  color: var(--medium-background);
  text-decoration: none;
  padding: 0 0.5rem;
}

header ul a:hover
{
  text-decoration: underline;
}


a.monogram
{ /* Monogram is fixed in place, tried to center the text but not great so far,
  also includes a margin to the page edge that should match the left text. */
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0.5rem;
  background-color: var(--dark-background);
  font-size: 3rem;
  margin: 2rem 2rem 2rem calc(2rem - 4px);
  height: 3.5rem;
  width: 3.5rem;
  text-decoration: none;
  z-index: 3;
  border: var(--accent) solid 4px;
}

.monogram p
{
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text);
}

.content {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}


/* || Text Formatting */

p, h1, h2, h3, h4, h5, ol, ul, li
{
  margin-left: 2rem; margin-right: 2rem;
}

li
{
  margin-left: 0;
  padding-left: 0rem;
  margin-bottom: 0.4rem;
}

li ul
{
  margin-left: 0;
  margin-top: 0.4rem;
}

p
{
  font-weight: 500;
}

h1, h2, h3, h4, h5
{
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

h1
{
  font-size: 3rem;
}

h2
{
  font-size: 2rem;
}

h3
{
  font-size: 1.5rem;
}

h4
{
  font-size: 1.25rem;
}

h5
{
  font-size: 1rem;
}

.page-title
{
  margin-bottom: 1rem;
}

/* || Code Blocks */

pre
{
  word-wrap: break-word;
  white-space: pre-wrap;
  display: inline-block;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 0;
  margin-left: 2rem;
  margin-right: 2rem;
  width: calc(100% - 4rem);
  background-color: var(--code-background);
  border-radius: 9px;
}

/* || Link Formatting */

.content a
{
  color: var(--link-fresh);
}

.content a:hover
{
  color: var(--link-hover);
}

.content a:visited
{
  color: var(--link-visited);
}


/* || Clickable div using a link */
/* div with "clickable-div", holding regular anchor which includes an empty span with "clickable-div-span"*/

.clickable-div
{
  position: relative;
}

.clickable-div-span
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/* || Horizontal Rule */

.fade {
  border-width: 0 0 2px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--text);
  border-image: linear-gradient(90deg, transparent 0%, var(--accent) 50%, transparent 100%) 0 0 100%;
  border-style: solid;
}

.fade-left {
  border-width: 0 0 2px;
  margin-top: 0;
  margin-bottom: 1.3rem;
  color: var(--text);
  border-image: linear-gradient(90deg,var(--accent) 0%, transparent 70%) 0 0 100%;
  border-style: solid;
  width: calc(100% - 4rem);
}

.proj 
{
  margin-bottom: 0.2rem;
}

.cyc_head
{
  margin-bottom: 0.2rem;
}


/* || Image and Figure Formatting */

img
{
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

figure 
{
  margin: 0;
}

figcaption
{
  margin-left: 4rem;
  margin-bottom: 2rem;
}

.swiftbar
{
  margin-left: 4rem;
  margin-right: 4rem;
}

@media (min-width: 800px) {
  .content > img
  {
    max-width: calc(100%);
    margin: 0 0; /* I have changed this from 0 2rem and the max-width from 100% - 4rem to 100% and I think it has fixed the images?
                    There might be issues, there are the weird regions on the right */
  }
}

/* || Tables */

table
{
  display: block;
  overflow-x: auto;
  max-width: 100%;
  margin: 0, 2rem;
  background-color: var(--code-background);
  border-collapse: collapse;
}

th
{
  background-color: var(--dark-background);
  border: 1px solid;
}

tr, td
{
  border: 1px solid;
  text-align: center;
  min-width: 10rem
}

/* || File Download */

.download {
  max-width: 80%;
  margin: 1rem auto;
  border: 2px solid var(--text);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: left;
  background: var(--dark-background);
  transition: background 0.4s;

}

.download > img {
  padding: 0.5em;
  margin: auto;
  max-width: 50%;
  justify-self: center;
}

.download > code {
  margin: auto auto auto 0;
}

.download:hover
{
  background: var(--medium-background);
}

/* || Hover Vibrate Animation */


/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  text-decoration: none;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* || Code */

.hljs-keyword, .hljs-string, .hljs-number
{
  color: var(--accent)
}

.hljs-comment
{
  color: var(--link-hover)
}


/* || Quote */

blockquote
{
  margin-bottom: 0;
  margin-top: 0;
}

figcaption
{
  margin-bottom: 0;
  margin-top: 0;
}

div.quote
{
  word-wrap: break-word;
  white-space: pre-wrap;
  display: inline-block;
  padding-left: 1rem;
  padding-right: 0;
  margin-left: 2rem;
  margin-right: 2rem;
  width: calc(100% - 4rem);
  background-color: var(--code-background);
  border-radius: 9px;
}
