/* The page adjusts to mobile at a width of less than 600px */
:root
{
  --light-background: #F3FCF8;
  /*--medium-background: #264653;*/
  --medium-background: rgb(38,70,83);
  --medium-background-fade: rgb(38,70,83,0.8);
  --dark-background: #303036;
  --accent: #fc5130;
  --text: #FF3006;
  --mobile-width: 900px;
  --text-size: 16px;

  --link-fresh: #FD795E;
  --link-visited: #DD2803;
  --link-hover: #FD9A86;
}

html
{
  font-size: 3vw;
}

@media (min-width: 600px)
{
  html
  {
    font-size: var(--text-size);
  }
}

body
{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial;
  color: var(--text);
}


/* || Static Background and Monogram */

.background
{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: var(--dark-background);
  z-index: -5;
}

.diagonal-overlay
{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, var(--medium-background-fade) 0% 40%, transparent 40% 100%);
  z-index: -2;
  background-attachment: scroll;
}

header
{ /* This contains the monogram, min-height controls how close the rest of the content gets to it. */
  margin: 0;
  padding: 0;
  min-height: 9rem;
}

a.monogram
{ /* Monogram is fixed in place, tried to center the text but not great so far,
  also includes a margin to the page edge that should match the left text. */
position: fixed;
display: flex;
align-items: center;
justify-items: center;
padding: 0.5rem;
background-color: var(--dark-background);
font-size: 3rem;
margin: 2rem 2rem 2rem calc(2rem - 4px);
height: 60px;
width: 60px;
text-decoration: none;
z-index: 3;
border: var(--medium-background-fade) solid 4px;
}

.monogram p
{
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: var(--text);
}

.content {
  box-sizing: border-box;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}


/* || Text Formatting */

p, h1, h2, h3, h4, ol, ul, li
{
  margin-left: 2rem; margin-right: 2rem;
}

p
{
  font-weight: 500;
}

h1, h2, h3, h4
{
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

h1
{
  font-size: 3rem;
}

h2
{
  font-size: 2rem;
}

h3
{
  font-size: 1.5rem;
}

h4
{
  font-size: 1.25rem;
}

.page-title
{
  margin-bottom: 1rem;
}


/* || Link Formatting */

.content a
{
  color: var(--link-fresh);
}

.content a:hover
{
  color: var(--link-hover);
}

.content a:visited
{
  color: var(--link-visited);
}


/* || Clickable div using a link */
/* div with "clickable-div", holding regular anchor which includes an empty span with "clickable-div-span"*/

.clickable-div
{
  position: relative;
}

.clickable-div-span
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/* || Horizontal Rule */

.fade {
  border-width: 0 0 2px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: var(--text);
  border-image: linear-gradient(90deg, transparent 0%, var(--light-background) 50%, transparent 100%) 0 0 100%;
  border-style: solid;
}


/* || Image and Figure Formatting */

img
{
  max-width: 100%;
}

figure 
{
  margin: 0;
}

figcaption
{
  margin-left: 4rem;
  margin-bottom: 2rem;
}

@media (min-width: 600px) {
  img
  {
    max-width: 92%;
    margin-left: 2rem;
    margin-right; 2rem;
  }
}
