:root
{
  --light-background: #F3FCF8;
  --medium-background: #628395;
  --dark-background: #303036;
  --accent: #fc5130;
  --text: #FF3006;
  --mobile-width: 900px;
}

html
{
  font-size: 2.5vw;
}

@media (min-width: 900px)
{
  html
  {
    font-size: 16px;
  }
}

body
{
  margin: 0;
  padding: 0;
  font-family:  'Open Sans', Arial;
  color: var(--text);
}

/* || Static Background */

.background
{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: var(--dark-background);
  z-index: -5;
}

.diagonal-overlay
{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(150deg, /*var(--medium-background) 0% 10%,*/ #264653 10% 40%, transparent 40% 100%);
  z-index: -2;
  background-attachment: scroll;
}

header
{
  margin: 0;
  padding: 0;
  min-height: 5rem;
}

.monogram
{
  position: fixed;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0.5rem;
  background-color: var(--dark-background);
  font-size: 4rem;
  margin: 2rem 2rem 2rem 2rem;
  height: 6rem;
  width: 6rem;
}

.monogram p
{
  margin: 0;
}
/* || Followers */

#xbar, #ybar
{
  position: fixed;
  background-color: cyan;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  z-index: 5;
}

/* || Main Page Container */
.page-container
{
  height: 100%;
  margin: 6rem 0 0 0;
}

.main
{
  display: flex;
  height: 100vh;
  align-items: center;
}

.name
{
  flex: 1;
  margin: 0 0 0 2rem;
}

/* || Menu */

.menu-container
{
  flex: 1;
  text-align: right;
  width: 100%;
}

.menu-container ul
{
  margin: 0 20px 0 auto;
  padding: 0;
  display: flex;
  align-items: end;
  flex-direction: column;
  width: fit-content;
}

.menu-container ul li
{
  position: relative;
  list-style: none;
}

.menu-container ul li a
{
  position: relative;
  padding: 1px;
  text-decoration: none;
  font-size: 4rem;
  color: var(--text);
  transition: font-size 0.5s;
}

/* || Background Images */

.menu-container ul li a::before
{
  content: '';
  position: fixed;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -3;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.75s;
}

.menu-container ul li a:hover
{
  font-size: 5rem;
}

li:nth-of-type(1) a::before
{
  background: url("../images/1.jpg") no-repeat center center !important;
}

li:nth-of-type(1) a:hover::before
{
  opacity: 1;
}

li:nth-of-type(2) a::before
{
  background: url("../images/2.jpg") no-repeat center center;
}

li:nth-of-type(2) a:hover::before
{
  opacity: 1
}

li:nth-of-type(3) a::before
{
  background: url("../images/3.jpg") no-repeat center center;
}

li:nth-of-type(3) a:hover::before
{
  opacity: 1
}

li:nth-of-type(4) a::before
{
  background: url("../images/4.jpg") no-repeat center center;
}

li:nth-of-type(4) a:hover::before
{
  opacity: 1
}

li:nth-of-type(5) a::before
{
  background: url("../images/5.jpg") no-repeat center center;
}

li:nth-of-type(5) a:hover::before
{
  opacity: 1
}


@media (min-width: 900px)
{
  .page-container
  {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  header
  {
    grid-row: 1;
    grid-column: 1 / 2;
  }

  .name 
  {
    margin: 0 0 30rem 2rem;
    grid-row: 2;
    grid-column: 1;
  }

  .menu-container
  {
    grid-row: 2;
    grid-column: 2;
  }

}
